#b1{
    left: 70%;
    margin-top: 1%;
    display: inlie-block;
    position: absolute; 
}
#bl1{
    display: inlie-block;
    min-width: 120px;
}
#b2{
    left: 80%;
    margin-top: 1%;
    display: inlie-block;
    position: absolute;
}
#blEx{
    display: inlie-block;
}
#bl2{
    display: inlie-block;
    min-width: 170px;
}
span{
    padding-left: 23px;
    display: inline;
    color: yellow;
}
.deckCards{
    float: left;
    padding: 10px;
    border: 2px #A9A9A9 solid;
    border-radius: 8px;
    background-color: rgba(84,82,71,.2);
}
