#b1{
    left: 70%;
    margin-top: 1%;
    display: inlie-block;
    position: absolute; 
}
#bl1{
    display: inlie-block;
    min-width: 120px;
}
#b2{
    left: 80%;
    margin-top: 1%;
    display: inlie-block;
    position: absolute;
}
#blEx{
    display: inlie-block;
}
#bl2{
    display: inlie-block;
    min-width: 170px;
}
.allCards{
    margin-top: 10px;
    width: 720px;
    float: left;
    display: inline-block;
    padding: 10px;
    border: 2px #A9A9A9 solid;
    border-radius: 8px;
    background-color: rgba(84,82,71,.2);
}
.deckCardscard{
    margin-top: 10px;
    margin-left: 5px;
    width: 250px;
    float: left;
    display: inline-block;
    padding: 10px;
    border: 2px #A9A9A9 solid;
    border-radius: 8px;
    background-color: rgba(84,82,71,.2);
}
.t1{
    width: 100px;
    height: 150px;
    float: left;
    display: inline-block;
    margin: 2px;
    position: relative;
    margin-left: 35px;
    margin-bottom: 8px;
    background-image: url(src/img/cards/MINION.png);
    background-size: 100% 100%;
    color: white;
}
.t2{
    width: 100px;
    height: 150px;
    float: left;
    display: inline-block;
    margin: 2px;
    position: relative;
    margin-left: 10px;
    margin-bottom: 7px;
    background-image: url(src/img/cards/MINION.png);
    background-size: 100% 100%;
}

#name{
    left: 33px;
    position: absolute;
    height: 20px;
    width: 0px;
    bottom: 35px;
    font-size: 10pt !important;
}
#HP{
    width: 20px;
    height: 20px;
    bottom: 7px;
    right: -1px;
    position: absolute;
}
#lvl{
    width: 20px;
    height: 20px;
    top: 6px;
    right: 68px;
    position: absolute;
}
#dmg{
    width: 20px;
    height: 20px;
    bottom: 3px;
    left: 10px;
    position: absolute;
}
#attribute{
    width: 88px;
    height: 40px;
    position: absolute;
    z-index: -1;
    bottom: 101px;
    padding-left: 6px;
    padding-right: 6px;
}
span{
    padding-left: 23px;
    display: inline;
    color: yellow;
}
.deckCards{
    margin-top: 10px;
    margin-left: 5px;
    float: left;
    display: inline-block;
    padding: 10px;
    border: 2px #A9A9A9 solid;
    border-radius: 8px;
    background-color: rgba(84,82,71,.2);
}
.tooltip {
    border-bottom: 1px dotted #000000; color: #000000; outline: none;
    cursor: help; text-decoration: none;
    position: relative;
}
.tooltip span {
    margin-left: -999em;
    position: absolute;
}
.tooltip:hover span {
    border-radius: 5px 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; 
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1); -webkit-box-shadow: 5px 5px rgba(0, 0, 0, 0.1); -moz-box-shadow: 5px 5px rgba(0, 0, 0, 0.1);
    font-family: Calibri, Tahoma, Geneva, sans-serif;
    position: absolute; left: 1em; top: 2em; z-index: 99;
    margin-left: 0; width: 250px;
}
.tooltip:hover img {
    border: 0; margin: -10px 0 0 -55px;
    float: left; position: absolute;
}
.tooltip:hover em {
    font-family: Candara, Tahoma, Geneva, sans-serif; font-size: 1.2em; font-weight: bold;
    display: block; padding: 0.2em 0 0.6em 0;
}
* html a:hover { background: transparent; }
.help { background: #9FDAEE; border: 1px solid #2BB0D7;	}

.class_set{
    float: left; 
    margin: 5px 10px 5px 10px;
    padding: 6px;
}
.Hunter{
    border: 2px solid #aad372;
    border-radius: 5px
}
.Mage{
    border: 2px solid #68ccef;
    border-radius: 5px
}
.Priest{
    border: 2px solid #fff;
    border-radius: 5px
}
.Thief{
    border: 2px solid #fff468;
    border-radius: 5px
}
.Shaman{
    border: 2px solid #2359ff;
    border-radius: 5px
}
.Warrior{
    border: 2px solid #c69b6d;
    border-radius: 5px
}
