textarea {
    resize: none;
    margin: 2px;
    font-size: 14pt;
    border: 2px #52500d solid;
    width: 308px;
    height: 150px;
}
.form1{
    float: left;
    padding: 10px;
    background-color: rgba(84,82,71,.5);
    color: white;
}
.onlineT{
    color: rgb(245,245,245);
    -webkit-animation: pulsate 5s linear infinite;
    animation: pulsate 5s linear infinite;
}
#refresh{
    display: inlie-block;
    text-align: center;
    color: rgb(245,245,245);
    text-shadow: 0 -1px rgba(0,0,0,.1);
    -webkit-animation: pulsate 1.2s linear infinite;
    animation: pulsate 1.2s linear infinite;
}
.forma_1{
    float: left;
    color: white;
    padding: 10px;
    margin: 10px;
}
.forma_2{
    float: left;
    color: white;
    padding: 10px;
    margin: 10px;
}
.field{
    clear:both;
    text-align:right;
    line-height:35px;
}
label {
    float:left;
    padding-right:10px;
}
.main {
    float:left
}