#bm1{
    z-index: -1;
    width: 85%;
    height: 58%;
    position: absolute;
    margin-top: 9%;
    margin-left: 8%;
    margin-right: 7%;
}
.t1{
    position: absolute;
}
a1{
    margin: 30px;
}
form{
    z-index: 1;
}
#sO{
    display: inlie-block;
    color: rgb(245,245,245);
    text-shadow: 0 -1px rgba(0,0,0,.1);

    -webkit-animation: pulsate 1.2s linear infinite;
    animation: pulsate 1.2s linear infinite;
}
.table1{
    align-self: center;
    min-height: 150px;
    min-width: 150px;
    border: 2px solid black;
    columns: auto;
}