html {
    background: url(src/img/bg_2.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: honeydew;
    font-family: Georgia sans-serif;
    font-size: 14pt;
}
textarea {
    resize: none;
    margin: 2px;
    font-size: 12pt;
    width: 238px;
    height: 150px;
}
fieldset {
    border: none;
    text-align: center;
}
input {
    padding: 5px;
    margin: 3px;
    font-size: 11pt;
}
input[type='text'] {
    width: 230px;
}
input[type='tel'] {
    width: 230px;
}
input[type='email'] {
    width: 230px;
}
input[type='password'] {
    width: 230px;
}
input[type='submit'] {
    width: 244px;
}
a {
    text-decoration: none;
    color: honeydew;
}
a:hover {
    color: #b9c3d2;
}
.wrap {
    margin: 20px auto;
    width: 1024px;
    padding: 10px;
    border-radius: 5px;
    background-color: rgba(46,139,87, 0.3);
}
.online{
    color: rgb(245,245,245);
    -webkit-animation: pulsate 5s linear infinite;
    animation: pulsate 5s linear infinite;
}